.login{
   background: #f6f5f7;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: -20px 0 50px;
}
.box-form{
    margin: 50px auto;
    background:#fff ;
    width:60vw;
    border-radius:10px ;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #bbc5fd;
    height: 80vh;
    display: flex;
    flex-direction: row;
    

}

a{
    text-decoration: none;
}

@media(max-width: 980px){
    .box-form{
        flex-flow: wrap;
        text-align: center;
        align-items: center;
        height:auto ;

    }
    .box-form div{
        height: auto;
    }
}

.box-form .left{
    background: linear-gradient(135deg, #1015b5 10%, #b55ae3 100%);
    background-size: cover;
    left:0;
    width: 110%;
    overflow: hidden;
}

.box-form .left .overlay{
    padding: 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.box-form .left .overlay p{ 
    text-align: center;
    color: #fff;
}



.box-form .left .overlay h1{
    font-size: 3vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 15vh;
    margin-bottom: 30px;
    color: #fff;
}
.box-form .right{
    padding-left:4vw ;
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    padding-right: 4vw;
    padding-top: 90px;
   
}

@media (max-width:980px) {
    .box-form .right{
        width: 50vw;
        line-height: 0;
        text-align: center;
    }
    
}

.box-form .right h5{
    font-size: 2vmax;
    line-height: 0;
    text-align: center;
    margin-bottom: 40px;
}

.box-form .right p{
    font-size: 16px;
    color: #a0a3ab;
    text-align: center;
}

.box-form .right .inputs{
    overflow: hidden;

}

.box-form .right input{
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
}



label{
    display: block;
    position: relative;
    margin-left: 30px;
}


    

label span.text-box{
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.9s linear;
}

label input[type="checkbox"]{
    display: none;
}

.box-form .right button{
    float: right;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    margin-top: 30px;
    box-shadow: 0px 4px 20px 0px #050608a6;
    background-image: linear-gradient(135deg, #1015b5 10%, #b55ae3 100%);
}

.box-form .right button:active{
    transform: scale(0.95);
}