.equipementD{
    display: flex;
    flex-direction: row;
    flex:4 !important;
    padding: 20px;
    -webkit-box-shadow: 5px 3px 15px -5px #000000; 
    box-shadow: 5px 3px 15px -5px #000000;
    margin-left: 20px;
    width:100%;
    background: rgb(255, 255, 255);
    margin-right: 50px;
    margin-bottom: 50px;
    height: 100%;
    margin-top: 20px;
}
.row{
    margin-left: 20px;
    margin-top: 20px;
}

.big-img{

}
.box .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.box .row h3{
    color:rgb(17, 17, 189);
    
}
.box .row span{
   
}
.g-info{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}
.g-info p{
   padding-right: 10px;
   color:#5c5b5b;
   
  
}
.techniques{
    padding-top: 20px;
    font-size: 1.3em;
    color: #6e818a;
    
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background:#25aae1
   
}