.form-container{
    display:flex;
    height: 310px;
    width: 450px;
    background: #fff;
    border: 1px solid rgb(214, 211, 211);
    margin-left: 520px;
    margin-top: 100px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 5px 15px -1px rgb(214, 211, 211); 
box-shadow: 3px 5px 15px -1px rgb(214, 211, 211);
    

}
.form-container .form-wrap{
    background: #fff;
    padding-top:  24px ;
}

.form-container .form-wrap h2{
    text-align: center;
    margin: 0px 0px 30px;
    position: relative;
    font-size: 20px;
    color:rgb(177, 170, 170) ;
    font-weight: 400;
   
}

  
  .form-container .form-wrap h2::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: rgb(214, 211, 211);
    left: 200px;
    top: 50%;
    position: absolute;
  }
  
  .form-container .form-wrap h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: rgb(214, 211, 211);
    right: 200px;
    top: 50%;
    position: absolute;
  }
  .form-container .form-wrap .forgot-message{
   
    
  }

.form-container .form-wrap .form-box{
    margin: 0px 0px 15px;
}
.form-container .form-wrap .form-box input[type="text"]{
    padding: 10px 8px;
    border-radius: 5px;
    border: 1px solid rgb(214, 211, 211);
    width: 100%;
    margin-top: 20px;
}
.form-container .form-wrap .form-box input[type="password"]{
    padding: 10px 8px;
    border-radius: 5px;
    border: 1px solid rgb(214, 211, 211);
    width: 100%;
    margin-top: 20px;
}
.form-container .form-wrap .form-box input[type="text"]:focus{
    outline: none;
}

.form-container .form-wrap .form-submit{
    display: flex;
    justify-content: center;
}


.form-container .form-wrap .form-submit input[type="submit"]{
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    background: #3653f8;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
} 

.message-error{
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: 400;
    font-size: 30px;
    margin-left: 400px;
    margin-top: 20px;
}

.message-success{
    justify-content: center;
    align-items: center;
    color: green;
    font-weight: 400;
    font-size: 30px;
    margin-left: 500px;
    margin-top: 20px;
}